<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ selected_table_name }}</title>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/plot.js' %}"></script>
</head>
<body>
     <div class="header">
        <a href="{% url 'upload_las_file' %}" class="logo"></a>
         <a href="https://www.gubkin.ru/" class="gubkin"></a>
    </div>
    <div class="title">Графики значений из LAS файлов</div>
    <div class="container">
        <label for="column-selector">Выберите колонку для вертикальной оси первого графика:</label>
        <select id="column-selector" style="max-width: 500px;">
            {% for column_name in selected_table_columns %}
            {% if column_name != 'id' %}
                <option value="{{ column_name }}">{{ column_name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button id="plot-button">Построить график</button>
        <div id="graph"></div>
    </div>
    <button id="add-graph-button">Добавить еще один график</button>
    <div id="second-graph-container">
        <label for="column-selector2">Выберите колонку для вертикальной оси второго графика:</label>
        <select id="column-selector2" style="max-width: 500px;">
            {% for column_name in selected_table_columns %}
            {% if column_name != 'id' %}
                <option value="{{ column_name }}">{{ column_name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button id="plot-button2">Построить второй график</button>
        <div id="graph2"></div>
    </div>
    <table id="data-table" style="display: none;">
        <thead>
            <tr>
                {% for column_name in selected_table_columns %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
<script src="{% static 'js/plot2.js' %}"></script>
</body>
</html>
