<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ table_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_view.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'upload_las_file' %}" class="logo"></a>
        <a href="https://www.gubkin.ru/" class="gubkin"></a>
    </div>
    <div class="title">Название таблицы: {{ table_name }}</div>
    <div class="export-button">
        <form action="{% url 'export_to_excel' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <button type="submit">Экспорт в EXCEL</button>
        </form>

        <form action="{% url 'export_to_json' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <button type="submit">Экспорт в JSON</button>
        </form>

        <form action="{% url 'export_to_txt' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <button type="submit">Экспорт в TXT</button>
        </form>

        <form action="{% url 'plot_graph' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <button type="submit">Перейти к графикам</button>
        </form>
    </div>
    <div class="delete-button">
        <form action="{% url 'delete_table' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <button type="submit" class="delete-table-button">Удалить таблицу из БД</button>
        </form>
    </div>
    <div class="rename-button">
            <button id="rename-table-button">Изменить название таблицы</button>
            <div id="rename-table-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form action="{% url 'rename_table' %}" method="post" id="rename-table-form">
                        {% csrf_token %}
                        <input type="hidden" name="old_table_name" value="{{ table_name }}">
                        <label for="new_table_name">Новое название таблицы:</label>
                        <input type="text" id="new_table_name" name="new_table_name" required>
                        <button type="submit">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    {% for column_name in column_names %}
                    <th>{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script src="{% static 'js/rename_and_delete.js' %}"></script>
</body>
</html>
