<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файла LAS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/upload_las_file.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'upload_las_file' %}" class="logo"></a>
        <a href="https://www.gubkin.ru/" class="gubkin"></a>
    </div>
    <div class="title">Импорт данных из .LAS в PostgreSQL</div>
    <div class="container">
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="las_file" accept=".las" required>
            <input type="text" name="table_name" placeholder="Введите название таблицы" required>
            <button type="submit">Загрузить LAS файл</button>
        </form>
        <button onclick="goToListTables()">Перейти к списку всех таблиц</button>
    </div>
    <div class="custom-overlay" id="customOverlay"></div>
    <div id="customAlert" class="custom-alert">
        <div class="alert-content" id="alertContent"></div>
        <button onclick="hideCustomAlert()">OK</button>
    </div>
    <script>
        function goToListTables() {
            window.location.href = "{% url 'list_tables' %}";
        }
    </script>
    <script src="{% static 'js/successful_message.js' %}"></script>
</body>
</html>

