body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: #007bff;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 20px;
}
.title {
    text-align: center;
    color: #007bff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 50px 10px 10px 10px;
}
.gubkin {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    background-image: url("../images/gubkin_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    max-width: 5000px;
    min-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
#graph,
#graph2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#second-graph-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007bff;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    background-image: url("../images/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
